@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-error {
  font-size: 3rem;
  color: #b30909;
}

.dn {
  display: none;
}

.db {
  display: block;
}

.m-0 {
  margin: 0;
}

.ls-n {
  list-style: none;
}

.toast {
  position: fixed;
  font-size: 2rem;
  margin: 0;
  z-index: 2;
  color: white;
  padding: 1rem;
  right: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.show-up-toast {
  animation: show-up-toast 0.5s;
}

@keyframes show-up-toast {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.success {
  background-color: #39b309;
}

.error {
  background-color: #b30909;
}

.x-button {
  color: white;
  background-color: red;
  border-color: red;
  border-radius: 99px;
}

.x-button:hover {
  cursor: pointer;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

header .header-top {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  background-color: #1e2126;
}
header .header-top h1 {
  margin: 0;
  color: #eaedf2;
  font-family: "DM Serif Display", serif;
}
header .header-top h1 span {
  color: red;
}
header .header-top ul .submenu {
  position: relative;
}
header .header-top ul .submenu i {
  color: #464b52;
}
header .header-top ul .submenu #cart {
  display: none;
}
header .header-top ul .submenu #cart #cart-list {
  font-size: 2rem;
  font-weight: normal;
}
header .header-top ul .submenu:hover #cart {
  display: block;
  position: absolute;
  color: #eaedf2;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: #16191c;
  padding: 2rem;
  min-height: 40rem;
  min-width: 30rem;
}
header .header-top ul .submenu:hover #cart #cart-list {
  text-align: center;
}
header .header-top ul .submenu:hover #cart #cart-list thead tr {
  height: 5rem;
}
header .header-top ul .submenu:hover #cart #cart-list tbody tr {
  height: 5rem;
}
header .header-top ul .submenu:hover #cart button {
  margin: 0.5rem 0;
  font-size: 2rem;
}
header .header-top ul .submenu:hover #cart .reset-btn {
  width: 100%;
  background-color: transparent;
  color: red;
  border-radius: 0;
  padding: 1rem;
  border-color: red;
  cursor: pointer;
}
header .header-top ul .submenu:hover #cart .pay-btn {
  width: 100%;
  background-color: #00a9c4;
  border-radius: 0%;
  padding: 1rem;
  border-color: #00a9c4;
  visibility: hidden;
}
header .header-top ul .submenu:hover #cart .pay-btn a {
  text-decoration: none;
  color: white;
  width: 100%;
}
header .header-top ul .submenu:hover #cart .pay-btn:hover {
  background-color: #08cceb;
  border-color: #00a9c4;
}

.nav-search {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  background-color: #464b52;
  color: #eaedf2;
  padding: 1rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-search .nav-search-input {
  display: flex;
  align-items: center;
}
.nav-search .nav-search-input input {
  border-radius: 5rem 0 0 5rem;
  border: 0px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}
.nav-search .nav-search-input button {
  border-radius: 0 5rem 5rem 0;
  border: 0px;
  padding-top: 0.2rem;
  margin-right: 0.7rem;
  padding-left: 0.7rem;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  color: red;
  background-color: #151518;
}
.nav-search .nav-search-input button:hover {
  cursor: pointer;
}

main {
  background-color: #151518;
}
main .hero {
  width: 100%;
  background: linear-gradient(90deg, #003dac 0%, #009eb1 100%);
}
main .hero #hero-img {
  width: 100%;
  max-height: 40rem;
  object-fit: cover;
}
main .hero .hero-footer {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  min-height: 10rem;
  background: linear-gradient(90deg, #003dac 0%, #009eb1 100%);
  padding: 1rem;
  color: #eaedf2;
}
main .hero .hero-footer .fa-solid {
  font-size: 2.5rem;
  margin: 0;
  margin-right: 1rem;
}
main .hero .hero-footer .hero-footer-subtitles h3,
main .hero .hero-footer .hero-footer-subtitles h4 {
  margin: 0;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.1rem;
}
main .courses h2 {
  text-align: center;
  font-size: 4rem;
  color: #eaedf2;
}
main .courses .courses-container {
  display: flex;
  color: #eaedf2;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 90rem;
  margin: 0 auto;
}
main .courses .courses-container .courses-container-card {
  background-color: #2b2b2c;
  font-size: 1vw;
  max-width: 25rem;
  margin: 2rem;
}
main .courses .courses-container .courses-container-card .courses-container-card-img {
  width: 100%;
}
main .courses .courses-container .courses-container-card .courses-container-card-img img {
  width: 100%;
}
main .courses .courses-container .courses-container-card .courses-container-card-info {
  height: 50%;
  padding: 2rem;
}
main .courses .courses-container .courses-container-card .courses-container-card-info h3 {
  font-size: 2rem;
  margin: 0;
}
main .courses .courses-container .courses-container-card .courses-container-card-info h4 {
  font-size: 1.75rem;
  margin: 0;
  margin: 5px 0;
  font-weight: normal;
}
main .courses .courses-container .courses-container-card .courses-container-card-info .prices {
  display: flex;
  justify-content: space-between;
}
main .courses .courses-container .courses-container-card .courses-container-card-info .prices .line-through {
  font-size: 2.5rem;
  text-decoration: line-through;
  margin: 5px 0;
}
main .courses .courses-container .courses-container-card .courses-container-card-info .prices .red {
  font-size: 3rem;
  color: red;
  font-weight: bold;
  margin: 5px 0;
}
main .courses .courses-container .courses-container-card .courses-container-card-info button {
  font-size: 2rem;
  background-color: #006baf;
  border: 0px;
  padding: 1rem 0.5rem;
  width: 100%;
  color: #eaedf2;
  font-weight: bold;
  border-radius: 7rem;
  margin-top: 2rem;
  transition: all 0.3s;
}
main .courses .courses-container .courses-container-card .courses-container-card-info button:hover {
  background-color: #2c89c4;
  cursor: pointer;
}
main .courses .back-to-courses {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  min-width: 80rem;
}
main .courses .back-to-courses button {
  color: green;
  font-size: 4rem;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 5rem;
}
main .courses .back-to-courses button:hover {
  cursor: pointer;
  color: #04db04 !important;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #1e2126;
  font-size: 2rem;
  padding: 2rem 0;
}
footer a {
  text-decoration: none;
  color: #eaedf2;
}

.animated {
  opacity: 0;
  transition: all 0.5s;
}

.show-up {
  animation: showUp 1s;
}

@keyframes showUp {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (max-width: 992px) {
  .hero-footer-subtitles h3,
.hero-footer-subtitles h4 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .courses-container {
    width: 100%;
  }
  .courses-container .courses-container-card {
    min-width: 35rem;
  }
}
@media only screen and (max-width: 600px) {
  .nav-search {
    flex-direction: column;
  }
  .nav-search .nav-search-input {
    justify-content: center;
    max-width: 15rem;
    margin-top: 2rem;
  }

  .back-to-courses button {
    font-size: 2.75rem !important;
  }
}
@media only screen and (max-width: 486px) {
  .header-top h1 {
    font-size: 4rem;
  }

  .submenu i {
    font-size: 3rem;
  }

  .hero-footer-1,
.hero-footer-2,
.hero-footer-3 {
    flex-direction: column;
  }

  .courses-container-card {
    min-width: 35rem;
  }

  .hero-footer-subtitles h4 {
    margin-top: 4rem;
  }

  .submenu:hover #cart {
    min-width: 10rem;
  }

  main .courses h2 {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
