@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

// RESET
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.df {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-error{
  font-size: 3rem;
  color: rgb(179, 9, 9);
}
.dn{
  display: none;
}
.db{
  display: block;
}
.m-0 {
  margin: 0;
}
.ls-n {
  list-style: none;
}
.toast {
  position: fixed;
  font-size: 2rem;
  margin: 0;
  z-index: 2;
  color: white;
  padding: 1rem;
  // top: -5rem;
  right: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.show-up-toast {
  animation: show-up-toast 0.5s;
}
@keyframes show-up-toast {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
  }
}
#link{
  color: rgb(57, 179, 9);
}
#link:hover{
  color: rgb(70, 228, 7);

}
.success {
  background-color: rgb(57, 179, 9);
}
.error {
  background-color: rgb(179, 9, 9);
}
.x-button{
  color: white;
  background-color: red;
  border-color: red;
  border-radius: 99px;
}
.x-button:hover{
  cursor:pointer;
}
html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}
header {
  .header-top {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    background-color: #1e2126;
    h1 {
      margin: 0;
      color: #eaedf2;
      font-family: "DM Serif Display", serif;
      span {
        color: red;
      }
    }

    ul {
      .submenu {
        position: relative;
        i {
          color: #464b52;
        }
        #cart {
          display: none;

          #cart-list {
            font-size: 2rem;
            font-weight: normal;
          }
        }
      }
      .submenu:hover #cart {
        display: block;
        position: absolute;
        color: #eaedf2;
        right: 0;
        top: 100%;
        z-index: 1;
        background-color: #16191c;
        padding: 2rem;
        min-height: 40rem;
        min-width: 30rem;
        #cart-list {
          text-align: center;

          thead{

            tr{
              height: 5rem;
            }
          }
          tbody {
            tr {
              height: 5rem;
            }
          }
        }
        button {
          margin: 0.5rem 0;
          font-size: 2rem;
        }
        .reset-btn {
          width: 100%;
          background-color: transparent;
          color: red;
          border-radius: 0;
          padding: 1rem;
          border-color: red;
          cursor: pointer;
        }
        .pay-btn {
          width: 100%;
          background-color: #00a9c4;
          border-radius: 0%;
          padding: 1rem;
          border-color: #00a9c4;
          visibility: hidden;
          a {
            text-decoration: none;
            color: white;
            width: 100%;
          }
        }
        .pay-btn:hover{
          background-color: #08cceb;
          border-color: #00a9c4;

        }
      }
    }
  }
}
.nav-search {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  background-color: #464b52;
  color: #eaedf2;
  padding: 1rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav-search-input {
    display: flex;
    align-items: center;
    input {
      border-radius: 5rem 0 0 5rem;
      border: 0px;
      border-top: 3px solid black;
      border-left: 3px solid black;
      border-bottom: 3px solid black;
    }
    button {
      border-radius: 0 5rem 5rem 0;
      border: 0px;
      padding-top: 0.2rem;
      margin-right: 0.7rem;
      padding-left: 0.7rem;
      border-top: 3px solid black;
      border-right: 3px solid black;
      border-bottom: 3px solid black;
      color: red;
      background-color: #151518;
    }
    button:hover {
      cursor: pointer;
    }
  }
}
main {
  background-color: #151518;
  .hero {
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 61, 172, 1) 0%,
      rgba(0, 158, 177, 1) 100%
    );
    #hero-img {
      width: 100%;
      max-height: 40rem;
      object-fit: cover;
    }
    .hero-footer {
      display: flex;
      justify-content: space-around;
      font-size: 1.5rem;
      min-height: 10rem;
      background: linear-gradient(
        90deg,
        rgba(0, 61, 172, 1) 0%,
        rgba(0, 158, 177, 1) 100%
      );
      padding: 1rem;
      color: #eaedf2;
      .fa-solid {
        font-size: 2.5rem;
        margin: 0;
        margin-right: 1rem;
      }
      .hero-footer-subtitles {
        h3,
        h4 {
          margin: 0;
          text-align: center;
          font-weight: normal;
          letter-spacing: 0.1rem;
        }
      }
    }
  }
  .courses {
    h2 {
      text-align: center;
      font-size: 4rem;
      color: #eaedf2;
    }
    .courses-container {
      display: flex;
      // flex-direction: column;
      color: #eaedf2;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      width: 80%;
      max-width: 90rem;
      margin: 0 auto;
      // border: 1px solid black;
      .courses-container-card {
        // border: 1px solid black;
        background-color: #2b2b2c;
        font-size: 1vw;
        // width: 25%;
        max-width: 25rem;
        // min-width: 25rem;
        margin: 2rem;
        .courses-container-card-img {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .courses-container-card-info {
          height: 50%;
          padding: 2rem;
          h3 {
            font-size: 2rem;
            margin: 0;
          }
          h4 {
            font-size: 1.75rem;
            margin: 0;
            margin: 5px 0;
            font-weight: normal;
          }
          .prices {
            display: flex;
            justify-content: space-between;

            .line-through {
              font-size: 2.5rem;
              text-decoration: line-through;
              margin: 5px 0;
            }
            .red {
              font-size: 3rem;
              color: red;
              font-weight: bold;
              margin: 5px 0;
            }
          }

          button {
            font-size: 2rem;
            background-color: #006baf;
            border: 0px;
            padding: 1rem 0.5rem;
            width: 100%;
            color: #eaedf2;
            font-weight: bold;
            border-radius: 7rem;
            margin-top: 2rem;
            transition: all 0.3s;
          }
          button:hover {
            background-color: #2c89c4;
            cursor: pointer;
          }
        }
      }
    }
    .back-to-courses {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10rem;
      min-width: 70vw;
      button {
        color: green;
        font-size: 4rem;
        background-color: transparent;
        border-color: transparent;
        margin-bottom: 5rem;
        // visibility: hidden;
      }
      button:hover{
        cursor: pointer;
        color: rgb(4, 219, 4)!important;
      }
    }
  }
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #1e2126;
  font-size: 2rem;
  padding: 2rem 0;
  ul{
    li{
      margin: 1rem 0;
      a {
        text-decoration: none;
        color: #eaedf2;
      }
    }
  }

}

.animated {
  opacity: 0;
  transition: all 0.5s;
}

.show-up {
  animation: showUp 1s;
}
//ANIMATION
@keyframes showUp {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

//MEDIAQUERIES

@media only screen and (max-width: 992px) {
  .hero-footer-subtitles {
    h3,
    h4 {
      font-size: 1rem;
    }
  }
}
@media only screen and (max-width: 767px) {
  .courses-container {
    width: 100%;
    .courses-container-card {
      min-width: 35rem;
    }
  }
}
@media only screen and (max-width: 600px) {
  .nav-search {
    flex-direction: column;
    .nav-search-input {
      justify-content: center;
      max-width: 15rem;
      margin-top: 2rem;
    }
  }
  .back-to-courses{
    button{
      font-size: 2.75rem!important;
    }
  } 
  .footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    ul{
      li{
        margin: 1rem;
      }
    }

  }
}
@media only screen and (max-width: 486px) {
  .header-top h1 {
    font-size: 4rem;
  }
  .submenu i {
    font-size: 3rem;
  }
  .hero-footer-1,
  .hero-footer-2,
  .hero-footer-3 {
    flex-direction: column;
  }
  .courses-container-card {
    min-width: 35rem;
  }
  #cart-list {
    font-size: 1.75rem!important;
    img{
      width: 80px!important;
    }
  }
  .hero-footer-subtitles {
    h4 {
      margin-top: 4rem;
    }
  }
  .submenu:hover #cart {
    min-width: 10rem;
  }
  main .courses h2 {
    font-size: 3rem;
  }
  .x-button{
font-size: 1.5rem!important;
  }
  .total-amount{
    font-size: 2.5rem;
  }

}
