@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

// RESET
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.df {
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-0 {
  margin: 0;
}
.ls-n {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}
header {
  .header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    background-color: #1e2126;
    h1 {
      margin: 0;
      color: #eaedf2;
      font-family: "DM Serif Display", serif;
      span {
        color: red;
      }
    }
    ul {
      .submenu {
        position: relative;
        i {
          color: #464b52;
        }
        #cart {
          display: none;

          #cart-list {
            font-size: 2rem;
            font-weight: normal;
          }
        }
      }
      .submenu:hover #cart {
        display: block;
        position: absolute;
        color: #eaedf2;
        right: 0;
        top: 100%;
        z-index: 1;
        background-color: #16191c;
        padding: 2rem;
        min-height: 40rem;
        min-width: 30rem;
        button {
          margin: 0.5rem 0;
          font-size: 2rem;
        }
        .reset-btn {
          width: 100%;
          background-color: transparent;
          color: red;
          border-radius: 0;
          padding: 1rem;
          border-color: red;
        }
        .pay-btn {
          width: 100%;
          background-color: #00a9c4;
          border-radius: 0%;
          padding: 1rem;
          border-color: #00a9c4;
          a {
            text-decoration: none;
            color: white;
            width: 100%;
          }
        }
      }
    }
  }
}
.nav-search {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  background-color: #464b52;
  color: #eaedf2;
  padding: 1rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav-search-input{
    display: flex;
  }
}
main {
  background-color: #151518;
  .hero {
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 61, 172, 1) 0%,
      rgba(0, 158, 177, 1) 100%
    );
    #hero-img {
      width: 100%;
    }
    .hero-footer {
      display: flex;
      justify-content: space-around;
      font-size: 1.5rem;
      background: linear-gradient(
        90deg,
        rgba(0, 61, 172, 1) 0%,
        rgba(0, 158, 177, 1) 100%
      );
      padding: 1rem;
      color: #eaedf2;
      .fa-solid {
        font-size: 2.5rem;
        margin: 0;
        margin-right: 1rem;
      }
      .hero-footer-subtitles {
        h3,
        h4 {
          margin: 0;
          text-align: center;
          font-weight: normal;
          letter-spacing: 0.1rem;
        }
      }
    }
  }
  .courses {
    h2 {
      text-align: center;
      font-size: 3vw;
      color: #eaedf2;
    }
    .courses-container {
      display: flex;
      color: #eaedf2;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      // width: 80%;
      margin: 0 auto;
      // border: 1px solid black;
      .courses-container-card {
        // border: 1px solid black;
        background-color: #2b2b2c;
        font-size: 1vw;
        // width: 25%;
        max-width: 25rem;
        // min-width: 25rem;
        margin: 2rem;
        .courses-container-card-img {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .courses-container-card-info {
          height: 50%;
          padding: 2rem;
          h3 {
            font-size: 2rem;
            margin: 0;
          }
          h4 {
            font-size: 1.75rem;
            margin: 0;
            margin: 5px 0;
            font-weight: normal;
          }
          img {
            // width: 40%;
          }
          .prices {
            display: flex;
            justify-content: space-between;
            p {
              font-size: 2.5rem;
              text-decoration: line-through;
              margin: 5px 0;
            }
            span {
              font-size: 3rem;
              color: red;
              font-weight: bold;
              margin: 5px 0;
            }
          }

          button {
            font-size: 2rem;
            background-color: skyblue;
            border: 0px;
            padding: 1rem 0.5rem;
            width: 100%;
            color: #eaedf2;
            font-weight: bold;
            border-radius: 7rem;
            margin-top: 2rem;
          }
          button:hover {
            background-color: rgb(84, 196, 240);
            cursor: pointer;
          }
        }
      }
    }
  }
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #1e2126;
  font-size: 2rem;
  padding: 2rem 0;
  a {
    text-decoration: none;
    color: #eaedf2;
  }
}

.animated {
  opacity: 0;
  transition: all 0.5s;
}

.show-up {
  animation: showUp 1s;
}
//ANIMATION
@keyframes showUp {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}
//MEDIAQUERIES
@media only screen and (max-width: 1528px) {
}
@media only screen and (max-width: 992px) {

  .hero-footer-subtitles {

    h3,
    h4 {
      font-size: 1rem;
    }
  }
}
@media only screen and (max-width: 767px) {
  .courses-container-card {
    min-width: 40rem;
  }
}
@media only screen and (max-width: 600px) {
  .nav-search{
    flex-direction: column;
    .nav-search-input{
      justify-content: center;
      max-width: 15rem;
      margin-top: 2rem;
    }
  }
}
@media only screen and (max-width: 486px) {
  .header-top h1
{
  font-size: 4rem;
}
.submenu i{
  font-size: 3rem;
}
  .hero-footer-1,
  .hero-footer-2,
  .hero-footer-3{
    flex-direction: column;
  }
  .courses-container-card {
    min-width: 35rem;
  }
 
  .hero-footer-subtitles {
    h4 {
      margin-top: 4rem;
    }
  }
  .submenu:hover #cart{
    min-width: 10rem;
  }
}
// @media only screen and (max-width: 1528px) {
// }
